.navbar {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  justify-content: center; /* Center the navigation links */
  flex-grow: 1; /* Allow the links to take up remaining space */
}

/* .navbar-links  {
  color: #fff;
  text-decoration: none;
  margin: 0 20px; /* Adjust the margin to control spacing between links
}

.navbar-links Link:hover {
  text-decoration: underline;
} */
